In [1]:
import pandas as pd

In [9]:
!pip install ace_tools

Collecting ace_tools
  Downloading ace_tools-0.0-py3-none-any.whl.metadata (300 bytes)
Downloading ace_tools-0.0-py3-none-any.whl (1.1 kB)
Installing collected packages: ace_tools
Successfully installed ace_tools-0.0

In [10]:
df = pd.read_csv("VENTAS_TROCIUK3.csv", sep=",", encoding="latin-1", quotechar='"', on_bad_lines="skip")

In [11]:
df

,FECHA,COD_ARTICULO,DESCRIPCION,TOTAL_CANTIDAD,PRECIO_UNITARIO
0,17/07/2003,1550,Aves Ponedora 50 Kg.,15,52200
1,19/07/2003,1550,Aves Ponedora 50 Kg.,15,52200
2,24/07/2003,1550,Aves Ponedora 50 Kg.,30,52200
3,30/07/2003,1550,Aves Ponedora 50 Kg.,30,52200
4,05/08/2003,1550,Aves Ponedora 50 Kg.,12,51450
...,...,...,...,...,...
573452,12/12/2024,4827,Pez Engorde - 24% (15 - 20 mm) - 25 Kg.,182,98500
573453,12/12/2024,4828,Pez Crecimiento Plus - 32% (3 - 5 mm) 25 Kg.,16,117500
573454,12/12/2024,68945,Lactomix A.P. HIGH PROTEIN 25 Kg.,45,66000
573455,12/12/2024,69041,Lactomix AP HIGH PROTEIN-Big Bag 1.250 Kg,8,2982000
573456,12/12/2024,76378,Pez Crecimiento - 28% (10 mm) - 25 Kg,19,100500

In [14]:
# Reimport necessary libraries as execution state was reset
import pandas as pd
p5 = df["TOTAL_CANTIDAD"].quantile(0.05)
p90 = df["TOTAL_CANTIDAD"].quantile(0.90)

# Filter out the outliers
df_filtered = df[(df["TOTAL_CANTIDAD"] >= p5) & (df["TOTAL_CANTIDAD"] <= p90)]

# Display the filtered dataframe
df_filtered.to_csv("VENTAS_TROCIUK3.csv")

In [18]:
df = pd.read_csv("merged_data.csv")
df

,ds,yhat,PRECIO_UNITARIO,VENTAS_REALES,PRODUCT
0,2024-10-11,2.000000,3144000,2,Pez Crecimiento Plus 32% (3-5mm) - Big Bag 750 Kg
1,2024-01-03,12.549172,3394000,14,Aves Ponedora Big Bag 1250 kg.
2,2024-01-12,13.763231,3394000,14,Aves Ponedora Big Bag 1250 kg.
3,2024-01-24,13.470365,3394000,14,Aves Ponedora Big Bag 1250 kg.
4,2024-02-02,13.940283,3394000,14,Aves Ponedora Big Bag 1250 kg.
...,...,...,...,...,...
7969,2024-11-27,4.140656,129000,2,Cerdos Terminador 50 Kg.
7970,2024-11-29,4.036403,119000,15,Cerdos Terminador 50 Kg.
7971,2024-11-29,4.036403,127000,1,Cerdos Terminador 50 Kg.
7972,2024-12-02,3.728401,119000,9,Cerdos Terminador 50 Kg.
7973,2024-12-10,3.906068,119000,5,Cerdos Terminador 50 Kg.

In [20]:
# Reimport necessary libraries as execution state was reset
import pandas as pd
p5 = df["VENTAS_REALES"].quantile(0.05)
p90 = df["VENTAS_REALES"].quantile(0.85)

# Filter out the outliers
df_filtered = df[(df["VENTAS_REALES"] >= p5) & (df["VENTAS_REALES"] <= p90)]

# Display the filtered dataframe
df_filtered.to_csv("merged_data.csv")

In [21]:
df

,ds,yhat,PRECIO_UNITARIO,VENTAS_REALES,PRODUCT
0,2024-10-11,2.000000,3144000,2,Pez Crecimiento Plus 32% (3-5mm) - Big Bag 750 Kg
1,2024-01-03,12.549172,3394000,14,Aves Ponedora Big Bag 1250 kg.
2,2024-01-12,13.763231,3394000,14,Aves Ponedora Big Bag 1250 kg.
3,2024-01-24,13.470365,3394000,14,Aves Ponedora Big Bag 1250 kg.
4,2024-02-02,13.940283,3394000,14,Aves Ponedora Big Bag 1250 kg.
...,...,...,...,...,...
7969,2024-11-27,4.140656,129000,2,Cerdos Terminador 50 Kg.
7970,2024-11-29,4.036403,119000,15,Cerdos Terminador 50 Kg.
7971,2024-11-29,4.036403,127000,1,Cerdos Terminador 50 Kg.
7972,2024-12-02,3.728401,119000,9,Cerdos Terminador 50 Kg.
7973,2024-12-10,3.906068,119000,5,Cerdos Terminador 50 Kg.

In [22]:
# Import necessary libraries
import pandas as pd

# Placeholder: Load or define df again (user needs to re-upload if necessary)
# df = pd.read_csv("your_data.csv")  # Uncomment if needed

# Ensure 'PRODUCT' column exists in df
if "PRODUCT" in df.columns and "VENTAS_REALES" in df.columns:
    # Create an empty list to store filtered data
    filtered_data_list = []

    # Iterate over unique products
    for product in df["PRODUCT"].unique():
        # Filter data for the current product
        df_product = df[df["PRODUCT"] == product].copy()

        # Calculate percentiles 5 and 85
        p5 = df_product["VENTAS_REALES"].quantile(0.05)
        p90 = df_product["VENTAS_REALES"].quantile(0.85)

        # Apply filtering
        df_filtered = df_product[(df_product["VENTAS_REALES"] >= p5) & (df_product["VENTAS_REALES"] <= p90)]

        # Store filtered data
        filtered_data_list.append(df_filtered)

    # Concatenate all filtered data
    df_final_filtered = pd.concat(filtered_data_list, ignore_index=True)

    # Save to CSV
    df_final_filtered.to_csv("merged_data.csv", index=False)

In [23]:
df

,ds,yhat,PRECIO_UNITARIO,VENTAS_REALES,PRODUCT
0,2024-10-11,2.000000,3144000,2,Pez Crecimiento Plus 32% (3-5mm) - Big Bag 750 Kg
1,2024-01-03,12.549172,3394000,14,Aves Ponedora Big Bag 1250 kg.
2,2024-01-12,13.763231,3394000,14,Aves Ponedora Big Bag 1250 kg.
3,2024-01-24,13.470365,3394000,14,Aves Ponedora Big Bag 1250 kg.
4,2024-02-02,13.940283,3394000,14,Aves Ponedora Big Bag 1250 kg.
...,...,...,...,...,...
7969,2024-11-27,4.140656,129000,2,Cerdos Terminador 50 Kg.
7970,2024-11-29,4.036403,119000,15,Cerdos Terminador 50 Kg.
7971,2024-11-29,4.036403,127000,1,Cerdos Terminador 50 Kg.
7972,2024-12-02,3.728401,119000,9,Cerdos Terminador 50 Kg.
7973,2024-12-10,3.906068,119000,5,Cerdos Terminador 50 Kg.